* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

input,
button,
input:focus,
button:focus {
    outline: none;
    border: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}